{
  "presets": [
    "@babel/react"
  ],
  "ignore": [
    "**/__snapshots__",
    "**/*.d.ts",
    "**/*.test.*",
    "**/*.stories.*",
    "**/*.spec.*"
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-export-default-from",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}